@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20vh 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #CCC;
    
}


#section1 {
    background: #582e42;
    color: lightgoldenrodyellow;
    transition: all 0.3s ease-out;
    margin: 20px;
    

}

#section1:hover {
    background: rgb(205, 220, 208);
    width: 220px;
    height: 220px;
    border-radius: 50px;
    color: darkslategrey;

}

#section2 {
background-color: lightgoldenrodyellow;
 color: darkslategrey;
 margin: 20px;



 }
#section2:hover {
 border-radius: 50px;
 background: rgb(205, 220, 208);
 width: 220px;
 height: 220px;
 color: darkslategrey;
 transition: all 0.3s ease-out;


 } 
#section3 {
margin: 20px;
color: lightgoldenrodyellow;
background-color: rgb(136, 82, 82)
 }
#section3:hover { 
    border-radius: 50px;
    background: rgb(205, 220, 208);
    width: 220px;
    height: 220px;
    color: darkslategrey;
    transition: all 0.3s ease-out;
   

} 

html {
    background-color: darkslategrey;

}